[2019-09-29 17:59] neenjaw opened #4 "ExerciseTest Module"
At this point, the module (when used by another module) will implement the analyse function and compile the features found into discrete tests to run against the submission. It will also determine if it should disapprove a solution, but at this point it will not approve a solution. If it is not disapproved, it is referred.

My thoughts for a roadmap for v1:

- [x] Convert the FastTest into an ExUn

[2019-09-29 18:03] neenjaw opened #5 "Docker container"
Likely strongly based off of the javascript analyzer other than the the image being based on one with elixir/erlang/otp

- [x] Choose docker base image
- [x] Dockerfile

[2019-09-29 18:05] neenjaw commented on #5
@filalex77 has been working on this, awaiting approval from @exercism/ops

[2019-09-29 18:15] neenjaw opened #6 "Ensure Interface Conforms"
There have been some changes in the past few weeks in regard to the json output and how it is then represented used to pull in the markdown for the website copy

- [ ] review automated-analysis interface
- [ ] ensure json output conforms to same (JSON is generated in the app from the ElixirAnalyzer.Submission module, it is written to file in the ElixirAnalyzer module)

[2019-09-29 18:15] neenjaw opened #7 "Two-Fer"
- [x] create markdown for comments

[2019-09-30 00:16] neenjaw commented on #4
The test suite is now properly implemented (see PR #8), so will now start working on an approval scheme for the exercises.

[2019-09-30 06:13] neenjaw commented on #4
I have an approval scheme working, a module `using` `ExerciseTest` can specify a top-level attribute of the names of the tests to approve the solution if there are no fatal errors.  Will submit PR once #3 and #8 are merged

[2019-09-30 12:57] filalex77 commented on #5
I think #1 closes this issue. Forgot to mention it there :)

[2019-09-30 13:04] #5 closed

[2019-10-03 15:30] #4 closed

[2019-10-05 04:13] neenjaw opened #11 "FIX Reorder comments based on importance"
In the analyzer specification, the comments need to be displayed by importance.  This is not currently done and it is done in the order the tests are run.

Need to do some sorting at insertion of comments or sorting on finalizing submission results.

Relevant Analysis Code
https://github.com/exercism/elixir-analyzer/blob/94dc724902c2a93e0e0f432cdfcf8895a75832f2/lib/elixir_analyzer/exercise_test.ex

[2019-10-05 04:14] neenjaw commented on #6
See #11

[2019-10-06 19:05] neenjaw commented on #7
I am having trouble constructing a case where two-fer testing can progress to a :refer state.  I think there are a few more cases to add (e.g. check for the existence of a two-fer function) which may open that state, and it may be more applicable in later exercises where the analyzer isn't good enough to analyze a complex solution, so it is used as more of a first pass check with the test-runner.

[2020-09-15 21:34] neenjaw opened #22 "Dockerhub push issue"
I just added the dockerhub.yml files, but the GHA failed (https://github.com/exercism/elixir-analyzer/runs/1119816649).  It doesn't differ from the run for exercism/elixir-test-runner, but that one passed.  Does this need to have some permissions set?

@ErikSchierboom did I miss something?

[2020-09-16 07:07] ErikSchierboom commented on #22
I don't think so. Looking at the logs, it looks like the _building_ of the image was actually failing. It might be some temporary issue. I've just re-run the job manually and it now succeeds: https://github.com/exercism/elixir-analyzer/runs/1121750590

[2020-09-16 07:09] neenjaw commented on #22
¯\_(ツ)_/¯

[2020-09-16 07:09] #22 closed

[2020-10-09 05:23] #7 closed

[2020-10-09 05:23] #6 closed

[2020-11-02 07:22] angelikatyborska opened #25 "Raise error if forms within a feature are not unique"
Certain differences in syntax cannot be told apart from one another by the AST, for example:

[code]

This might not be known to everyone that attempts writing exercise test modules. It would be helpful to automatically detect attempts to specify multiple `form`s within the same `feature` that are identical, to educate and to avoid unnecessarily repetitive code.

See: https://github.com/exercism/e

[2020-11-28 15:27] angelikatyborska opened #29 "New macro for checking that snippet Y is nested somewhere within snippet X"
For the new concept exercises for v3, we wrote a lot of notes about the analyzer that say something like "verify that function Y calls function X", e.g.

https://github.com/exercism/v3/blob/d9a84126c0e7aee415804d20d58d58fd1d31f915/languages/elixir/exercises/concept/lasagna/.meta/design.md#L42

https://github.com/exercism/v3/blob/6576904cbe3ddae26b23a418da8e012162980c4a/languages/elixir/exercises/c

[2020-11-29 01:16] neenjaw commented on #29
I think first I would like to start my experimenting with a new macro that looks for a function call inside of some other function.  Something that would look like:

[code]

This would perform some sort of pre-order search of the AST which would only succeed if it found that function call inside of the calling function.

I think this would also result in a pattern that we could then apply to `feat

[2020-11-29 11:01] angelikatyborska commented on #29
I think as long as `called_function` allows for multiple options, that should be enough. But we do need to account for different possible arities (e.g. `String.trim/1`, `String.trim/2`) and maybe sometimes for groups of interchangable functions (e.g. `Enum.fiter` and `Enum.drop`).

[2020-11-29 12:03] neenjaw commented on #29
I like those suggestions, I think they could be accomodated quite easily.
 would providing a list of functions work to satisfy that?

[2020-11-29 12:08] angelikatyborska commented on #29
Yes, I think providing a list of functions will be most straight-forward and flexible.

[2021-01-28 15:48] ErikSchierboom opened #36 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:49] ErikSchierboom commented on #36
As of today, the default branch of this repository has been changed to main.

[2021-01-30 09:19] #36 closed

[2021-01-30 09:49] angelikatyborska opened #38 "Write missing comments for the `two-fer` analysis"
If you check out the code and run `mix test --include external`, you will notice some tests failing due to missing comments. For example:

[code]

To fix this issue, appropriate files need to be added to the `website-copy` location in this directory: https://github.com/exercism/website-copy/tree/main/analyzer-comments/elixir/two-fer

To know what to write in those files, read the analysis that's b

[2021-01-31 11:39] angelikatyborska opened #40 "Write a basic `list-ops` analysis"
There are many standard library functions that are not allowed when solving this exercise. See comment:
https://github.com/exercism/elixir/blob/main/exercises/practice/list-ops/lib/list_ops.ex#L2-L6

Please implement an analyzer that will ensure those not allowed functions aren't used.

Introduction to writing an analyzer extension: https://github.com/exercism/elixir-analyzer/blob/main/docs/writin

[2021-01-31 11:47] angelikatyborska opened #41 "Write a basic `strain` analysis"
This exercise is supposed to be solved without using the `Enum` module. See:

- https://github.com/exercism/elixir/blob/main/exercises/practice/strain/README.md#L32-L34
- https://github.com/exercism/elixir/blob/main/exercises/practice/strain/.meta/example.ex#L6
- https://github.com/exercism/elixir/blob/main/exercises/practice/strain/.meta/example.ex#L26

I think an open question is whether list co

[2021-01-31 12:52] angelikatyborska opened #42 "Write a basic `leap` analysis"
Write a basic check for the `leap` exercise that will check that the Erlang `:calendar` module is not used, as it is not allowed by the exercise's definition: https://github.com/exercism/elixir/blob/4e18d2385066e46de5ee5ea3e1ba9ce0caffdfa5/exercises/practice/leap/README.md#L16-L17

Introduction to writing an analyzer extension: https://github.com/exercism/elixir-analyzer/blob/main/docs/writing-an-

[2021-03-01 02:44] #38 closed

[2021-04-20 20:00] angelikatyborska opened #55 "Ensure comments are unique"
Sometimes, a single check must be implemented with a combination of `assert_(no_)call` and `feature` calls. For example, checking that the `Enum` module is not used:
[code]

Both checks return the same comment when failed. In this case, if somebody imported the `Enum` module but then also used it forgetting about the import, the comment would appear to that user twice.

To prevent the user from se

[2021-04-20 20:01] angelikatyborska commented on #29
I consider this feature request satisfied by https://github.com/exercism/elixir-analyzer/pull/49 :)

[2021-04-20 20:01] #29 closed

[2021-04-24 09:13] #55 closed

[2021-04-24 16:15] angelikatyborska opened #60 "Write a basic `flatten-array` analysis"
The exercise `flatten-array` is meant to practice recursion and pattern-matching on lists. If it's solved using the `List` or `Enum` functions, it's just way too easy. Thus this exercise should use the same kind of analyzer as `bird-count` has - check that `Enum`, `List`, `Stream` or list comprehensions aren't used.

Introduction to writing an analyzer extension: https://github.com/exercism/elixir

[2021-05-22 16:45] neenjaw opened #63 "Warn / Error when directives in `feature` or `assert_call` tests are not supported"
Both the `feature` and `assert_call` tests use a DSL to specify their success/error conditions.  When a directive is used that isn't supported, it fails silently (see recent PR comment [here](https://github.com/exercism/elixir-analyzer/pull/61#discussion_r637420056)).

AC: I want to know when I am using a directive that is unsupported so that I can get better feedback when writing tests.

[2021-05-25 07:14] #63 closed

[2021-06-02 19:16] ThiagosLima opened #67 "Basic analysis for `accumulate` exercise"
Hi, as commented in the [Elixir v3 repo #560](https://github.com/exercism/elixir/issues/560), maybe the `accumulate` exercise should have an analyse for `collect`, `map` and `fmap`.

[2021-06-02 22:07] neenjaw commented on #67
Thanks for logging this request here! I think we could get to it soon. If you are interested in tackling it, you are more than welcome to, could set aside some time to walk you through it this weekend.

[2021-06-03 07:43] angelikatyborska commented on #67
👍

As the instruction for `accumulate` say (https://github.com/exercism/elixir/blob/d18ac65f0302c4f6b2ba6ab0184387b38cc8dadd/exercises/practice/accumulate/.docs/instructions.md#L24-L26)

To translate that into Elixir-specific terms: I think we should forbid the whole Enum, List, and Stream modules, and also list comprehensions. Just like we did for `bird-count`, and just like we want to do for `fl

[2021-06-03 07:43] angelikatyborska commented on #60
If you're picking up this issue, please also consider doing https://github.com/exercism/elixir-analyzer/issues/67 as they will most likely be identical analyzers.

[2021-06-03 22:30] ThiagosLima commented on #67
I know just the basics of Elixir but I believe this is a good opportunity to learn a little more. Can I try to do the issue?

[2021-06-03 23:22] neenjaw commented on #67
Yea, for sure, I'll write out a bit of a guide of the things to need to do to get it going.  Should be able to have it posted tonight

[2021-06-04 00:03] ThiagosLima opened #68 "Broken Link on A Guide to Writing an Elixir Analyzer Extension"
Hi, I was reading [A Guide to Writing an Elixir Analyzer Extension](https://github.com/exercism/elixir-analyzer/blob/main/docs/step-03/step-03.md#3-add-attributes-to-the-matching-process) and I think there is a broken link.

In the **`comment`** part, when I click here I go to an 404 page.

[2021-06-04 03:25] neenjaw commented on #67
## Things to be done

- [ ] Use `bird-count`'s [analyzer test suite](https://github.com/exercism/elixir-analyzer/blob/main/lib/elixir_analyzer/test_suite/bird_count.ex) as a basis for your work
- [ ] Update [`config.exs`](https://github.com/exercism/elixir-analyzer/blob/main/config/config.exs) with the added analyzer test
- [ ] Create a test for it, can follow the example for [bird-count in the te

[2021-06-04 03:26] neenjaw commented on #67
Just shout if you need any help, @angelikatyborska and I are around!

[2021-06-04 05:35] #68 closed

[2021-06-04 05:36] angelikatyborska commented on #68
Solved by @neenjaw in https://github.com/exercism/elixir-analyzer/pull/69 🙂. Thank you for reporting!

[2021-06-09 16:48] ThiagosLima commented on #67
Hmmm I have a question. As @angelikatyborska said before, the code for `Accumulate`, `Flatten Array` and `Bird Count` will be almost the same. Should we keep all of them in separate files?

[2021-06-09 17:14] angelikatyborska commented on #67
@ThiagosLima Yes, let's keep them in separate files even if they will be word for word the same. We decided on a convention that each exercise has its own analysis module. Later, we might need to add more detailed analysis for one of those exercises and then it will be useful that it's separate 🙂

If we notice that some patterns repeat a lot, we'll think about extracting them and reusing somehow l

[2021-06-16 15:36] ThiagosLima commented on #67
Hi, guys! I am almost finished the issue. I took some time to study macros and tests to understand the analyzer better. Sorry for take so long :sweat_smile:.

Firstly, the project is really nice and well documented. Congratulations! You guys are awesome! :blush:

I am taking the [bird count](https://github.com/exercism/elixir-analyzer/blob/main/test/elixir_analyzer/test_suite/bird_count_test.exs)

[2021-06-16 21:20] angelikatyborska commented on #67
Don't worry about it! We really appreciate that you're working on this issue 🙏 take your time.

You're totally right. I made a mistake. At line 52, it was supposed to be a different usage of the alias. Something like this: https://github.com/exercism/elixir-analyzer/pull/74

No, not really :) I did that initially because I wasn't sure if the bird-count analyzer is finding them correctly. If you wr

[2021-06-18 18:26] angelikatyborska commented on #67
Closed in #75

[2021-06-18 18:26] #67 closed

[2021-06-18 18:29] ThiagosLima commented on #60
If it is ok, I can work on this issue.

[2021-06-18 19:00] angelikatyborska commented on #60
That would be great 💜

[2021-06-20 03:24] ThiagosLima commented on #60
Maybe the `Simple Linked List` exercise should have an analysis like this 🤔

[2021-06-20 08:28] angelikatyborska commented on #60
With the simple-linked-list exercise it's not so straight-forward, because the functions `from_list` and `to_list` can be implemented with `Enum` or `List` functions. Our example solution does that: https://github.com/exercism/elixir/blob/efd211b80aa350e32cf76242f09d12ec4d49df14/exercises/practice/simple-linked-list/.meta/example.ex#L59-L73

[2021-06-20 14:00] ThiagosLima commented on #60
I was wondering that because the exercise want us to implement the linked list abstraction. If we use built-in lists abstractions seems strange. Someone could just use `Enum` to implement the exercise. Ex:

[code]

The functions `from_list` and `to_list` could be implemented using recursion. Ex:

[code]

[2021-06-30 01:51] jiegillet opened #78 "Write a basic `square-root` analysis"
Write a check for the `square-root` exercise ([soon to be merged](https://github.com/exercism/elixir/pull/797) ) that makes sure `:math.sqrt`, `:math.pow`, `Float.pow` are not used.

https://github.com/exercism/problem-specifications/blob/main/exercises/square-root/description.md

Introduction to writing an analyzer extension: https://github.com/exercism/elixir-analyzer/blob/main/docs/writing-an-a

[2021-07-07 11:17] angelikatyborska opened #80 "Write analysis for concept exercise `basketball-website`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/basketball-website/.meta/design.md#L40-L46

Except for what's in the `design.md` file, also add a check to discourage handling `nil` data explicitly because `nil` already implements the access behavior and returns `nil` for anything. Below I'm giving a few community solution examples

[2021-07-07 11:19] angelikatyborska opened #81 "Write analysis for concept exercise `boutique-inventory`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/boutique-inventory/.meta/design.md#L31-L36

[2021-07-07 11:20] angelikatyborska opened #82 "Write analysis for concept exercise `captains-log`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/captains-log/.meta/design.md#L28-L32

[2021-07-07 11:21] angelikatyborska opened #83 "Write analysis for concept exercise `chessboard`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/chessboard/.meta/design.md#L24-L28

[2021-07-07 11:22] angelikatyborska opened #84 "Write analysis for concept exercise `dna-encoding`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/dna-encoding/.meta/design.md#L29-L32

[2021-07-07 11:23] angelikatyborska opened #85 "Write analysis for concept exercise `file-sniffer`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/file-sniffer/.meta/design.md#L30-L32

[2021-07-07 11:25] angelikatyborska opened #86 "Write analysis for concept exercise `high-school-sweetheart`"
Desired checks: https://github.com/exercism/elixir/blob/12acf3405242970cd492590e2c9d503330188364/exercises/concept/high-school-sweetheart/.meta/design.md#L31-L37

Note that it's impossible to tell from the AST if the multiline string syntax was used, so we can't do that check.

[2021-07-07 11:26] angelikatyborska opened #87 "Write analysis for concept exercise `lasagna`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/lasagna/.meta/design.md#L40-L45

[2021-07-07 11:27] angelikatyborska opened #88 "Write analysis for concept exercise `name-badge`"
Desired checks: https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/name-badge/.meta/design.md#L23-L25

[2021-07-07 11:27] angelikatyborska opened #89 "Write analysis for concept exercise `need-for-speed`"
Desired checks: https://github.com/exercism/elixir/blob/9f1dbea819560a8456b34e03c7819f3d87d11140/exercises/concept/need-for-speed/.meta/design.md#L27-L31

[2021-07-07 11:28] angelikatyborska opened #90 "Write analysis for concept exercise `newsletter`"
Desired checks:
https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/newsletter/.meta/design.md#L25-L28

[2021-07-07 11:29] angelikatyborska opened #91 "Write analysis for concept exercise `rpg-character-sheet`"
Desired checks: https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/rpg-character-sheet/.meta/design.md#L24-L29

[2021-07-07 11:30] angelikatyborska opened #92 "Write analysis for concept exercise `rpn-calculator-inspection`"
Desired checks: https://github.com/exercism/elixir/blob/3cab99a5ce0649230d1f5aae563655b622ea737b/exercises/concept/rpn-calculator-inspection/.meta/design.md#L22-L24

[2021-07-07 11:31] angelikatyborska opened #93 "Write analysis for concept exercise `rpn-calculator-output`"
Desired checks: https://github.com/exercism/elixir/blob/9774308bb6b898df6ecbde64c5c6e48c651870ae/exercises/concept/rpn-calculator-output/.meta/design.md#L25-L31

[2021-07-08 14:21] #87 closed

[2021-07-08 18:05] angelikatyborska opened #97 "Universal checks for every single solution?"
As I mentor, I keep seeing some reoccurring problems with solutions that are exercise-independent and could, at least partially, be detected automatically.

A code snippet from a real recent solution:
[code]

The analyzer could detect and give a suggestion to the user that:
- `@spec` for a function should be placed directly above that function definition, there shouldn't be a different function de

[2021-07-10 02:44] neenjaw commented on #97
I like this idea in moderation.  The casing stuff I think is important enough to warrant extensions.  The indenting, I would rather point people to `mix format` rather than wade into a discussion of tabs vs spaces.

[2021-07-10 02:52] neenjaw commented on #97
We could create a mix format microservice (picoservice?) which accepts a chunk of code and "formats it" and returns it to the editor :P

[2021-07-10 08:01] angelikatyborska commented on #97
In which way would you point people? From the context I'm guessing NOT by having an analyzer comment? Would you expect mentors to tell students that?

That would be great because students in the web editor otherwise won't have access to the auto formatting :D but I have a hunch it wouldn't be part of v3.0...

Now that the base work for having common checks is in there, I'm going to create separate

[2021-07-10 08:06] angelikatyborska opened #103 "Common check: module names in PascalCase"
Write a common check that is going to check module names. They should always be written in `PascalCase`.

See `lib/elixir_analyzer/exercise_test/common_checks.ex` and existing common checks for implementation details, e.g. https://github.com/exercism/elixir-analyzer/blob/e39b2cbe3f0565ff0b8f5ff6e3ccbf4826337479/lib/elixir_analyzer/exercise_test/common_checks/function_names.ex

Use Credo's implemen

[2021-07-10 08:11] angelikatyborska opened #104 "Common check: variable names in snake_case"
Write a common check that is going to check variable names. They should always be written in snake_case.

See `lib/elixir_analyzer/exercise_test/common_checks.ex` and existing common checks for implementation details, e.g. https://github.com/exercism/elixir-analyzer/blob/e39b2cbe3f0565ff0b8f5ff6e3ccbf4826337479/lib/elixir_analyzer/exercise_test/common_checks/function_names.ex

This can be a bit co

[2021-07-10 08:20] angelikatyborska opened #105 "Common check: avoid unless with else"
Write a common check that is going to check for usages of `unless/else` and prompt students to rewrite it with `if/else`.

See Credo's comment about it for a nice explanation :)

See `lib/elixir_analyzer/exercise_test/common_checks.ex` and existing common checks for implementation details, e.g. https://github.com/exercism/elixir-analyzer/blob/e39b2cbe3f0565ff0b8f5ff6e3ccbf4826337479/lib/elixir_ana

[2021-07-10 08:26] angelikatyborska commented on #97
Added three so far that I was personally sure about. Feel free to add more or dispute specific ones 🙂

https://github.com/exercism/elixir-analyzer/issues/103
https://github.com/exercism/elixir-analyzer/issues/104
https://github.com/exercism/elixir-analyzer/issues/105

[2021-07-10 22:10] f-francine commented on #105
If it is ok, I would like to work on this issue :)

[2021-07-10 22:13] neenjaw commented on #105
Do you need anything to get started? Just shout if you get stuck

[2021-07-10 22:41] neenjaw commented on #105
Also feel free to open a draft PR with partial work to get feedback along the way

[2021-07-10 23:21] f-francine commented on #105
Thanks! I confess that I'm not really sure about how to get started. I'm pretty new to elixir and open source contributions, but my plan is to see how the unless-with-else analyzer is implemented in credo, and base myself on it.

[2021-07-10 23:42] neenjaw commented on #105
So just because I don't know where you're at with stuff, here's the primer for the open source side:
1) Fork the repo (which I can see you've already done)
2) clone it to your local `git clone <your fork>`
3) create a new branch for your feature (this issue) `git checkout -b <your feature>`
4) push it to github `git push --set-upstream origin <your feature>`
5) open a draft PR to this repo from yo

[2021-07-11 00:08] f-francine commented on #105
Thanks! I've already created the branch and opened a draft pull request :)

[2021-07-11 00:36] neenjaw commented on #105
Ok here are the things things I think need to be some (some points are a little general, so if you need any clarification please ask).

- [x] create a file to contain the logic for your feature (you've already done this in your draft PR
- [ ] create a comment entry in `constants.ex`
  - [ ] later, we'll repeat this PR process in another repo `website-copy` to add the comment text that students wil

[2021-07-11 00:36] neenjaw commented on #105
For testing it you will have to write a test file to complement your added feature :)

[2021-07-11 14:50] neenjaw commented on #103
@jiegillet has completed this issue, awaiting merge

[2021-07-12 00:59] #103 closed

[2021-07-12 01:02] jiegillet commented on #104
I would like to try my hand at this one.
I looked into it a bit, is there a reason why we can't simply match on
[code]
[This page says](https://elixir-lang.org/getting-started/meta/quote-and-unquote.html)

In any case, an extensive testing is probably good. Is it OK to ripoff `Credo`'s tests?

[2021-07-12 01:11] neenjaw commented on #104
Yes, I think you could do that match for the most part.  I don't know of a variable ast form off-hand that violates that match.

Credo is MIT licensed, so go for it :)

[2021-07-12 01:13] jiegillet commented on #104
OK, I'll see what passes the tests then.

I have a question, because I don't really know the history: is there a specific reason we are not using `Credo` itself? Seems like we might be re-inventing the wheel for some checks.

[2021-07-12 01:17] neenjaw commented on #104
Credo is more opinionated than we want to be overall.  Also this way we can return an intermediate form to build our final exercism-compatible form

[2021-07-13 01:34] jiegillet commented on #97
How about adding checks for `IO.inspect` and `IO.puts`?

[2021-07-13 01:36] jiegillet commented on #78
I'll probably start on this one after #104 is done. It is mine after all :)

[2021-07-13 02:40] neenjaw commented on #97
If this were to be implemented, I would suggest to it be informational at most since there might be a specific reason they left it in. (Partial optimized solution in order to elicit/engage mentor feedback, etc)

[2021-07-13 02:58] jiegillet commented on #97
Good point. I once had a weird process-related bug that depended on a `IO.puts("")` to work, I still submitted that to ask a mentor.

[2021-07-13 06:03] angelikatyborska commented on #97
@jiegillet I would be fine with an informational comment telling the student to try to remove usages of `IO.inspect` and `IO.puts` after they finished debugging. It is a common problem. *But* you would need first to add a mechanism for specific "common checks" to be excluded from specific exercises. There are two concept exercises, for `io` and for `file`, that require using those two functions:

[2021-07-14 15:20] #104 closed

[2021-07-20 13:18] jiegillet commented on #93
I've been looking at this one, but I got stuck somewhere.

Two of the criteria (there are more, I'm simplifying) are
* open must be before try
* write must be in the try block

For example:
[code]
This is OK. A naive implementation with `feature` would be
[code]
plus
[code]
However, when I try this failing solution
[code]
both of my features fail, because `"write must be in the try block"` only pa

[2021-07-20 15:20] angelikatyborska commented on #93
No, I'm afraid that's the "beauty" of `feature`. I often have problems with using it precisely for the same reason.

It's possible that the desired checks that we described aren't even possible with the current features of the analyzer.

The `assert_call` and `feature` macros are really nice for some checks, but in some cases I just wish we could also write an analyzer extension for an exercise by

[2021-07-20 15:34] neenjaw commented on #93
Considering feature does pattern match against the AST, I don't think what you are describing is really a feature use-case.

I don't think this test is likely possible even with direct pattern matching, because you want to identify the presence of a node at any point inside of a do-block (which is a list of AST node), and you can't pattern match membership of an element in a list that is at any po

[2021-07-20 23:50] jiegillet commented on #93
Finding a command or a list of consecutive commands in a list of children nodes shouldn't be too hard. Although like i said, I don't fully grasp the code yet.

If that's fine with you, I'll investigate the idea and see if I can come up with something nice.

[2021-07-21 05:11] neenjaw commented on #93
Yes, I think it would be interesting the investigate the idea but maybe if we can discuss it before committing tonnes of implementation time to it as might be able to help refine the approach to it.

[2021-07-24 06:00] jiegillet commented on #88
I will do this one since it's quick and easy :)

[2021-07-25 04:56] jiegillet commented on #97
How about adding informational checks about using `@spec` for non-private functions? And maybe `@moduledoc`? This may be too preachy :)

[2021-07-25 07:36] angelikatyborska commented on #97
There's a check for two-fer for those but not much else. Using `@spec`, `@moduledoc` and and `@doc` is a personal choice in my opinion. It's definitely helpful in bigger projects, but still optional. I wouldn't bother people with those in the analyzer. Especially because using them is a concept exercise on its own which  means we cannot "require" people to know about them before doing that exercis

[2021-08-09 16:32] #89 closed

[2021-08-09 16:32] #88 closed

[2021-08-16 14:41] angelikatyborska commented on #93
Closed in https://github.com/exercism/elixir-analyzer/pull/120

[2021-08-16 14:41] #93 closed

[2021-08-16 14:43] #92 closed

[2021-08-20 12:27] jiegillet commented on #78
This can be closed BTW

[2021-08-20 12:27] #78 closed

[2021-08-22 08:53] #40 closed

[2021-08-25 14:30] #25 closed

[2021-08-25 14:31] #11 closed

[2021-08-25 14:31] #91 closed

[2021-08-29 04:59] jiegillet commented on #86
Option 5: use the machinery of `mix format`.
[code]
I'm not sure exactly how yet, I would need to learn more about it, but it's there for the taking.

[2021-08-31 04:59] angelikatyborska opened #130 "Add a common check for `IO.inspect`"
Some students don't pay too much attention to cleaning up their code before submitting it for mentoring. They leave around commented out code, nonsense comments, and debug `IO.inspect` calls.

It would be nice if we could nudge the students to clean up their solution with the analyzer. It should be possible to at least detect `IO.inspect` calls. Telling apart good comments from nonsense comments i

[2021-08-31 04:59] angelikatyborska commented on #130
@jiegillet is already thinking about a nice universal way of excluding checks, see: https://github.com/exercism/elixir-analyzer/pull/129#discussion_r698890660

[2021-08-31 05:00] #90 closed

[2021-09-02 15:23] angelikatyborska commented on #83
I'll work on this

[2021-09-03 07:15] angelikatyborska opened #132 "Celebratory comment when concept exercise solution 100% matches the exemplar"
Could we somehow add an analysis step to every concept exercise that will give a celebratory comment when your solution's AST matches 100% the exemplar solution?

It would be nice if we didn't have to copy-paste all of the exemplars to this repo, but somehow fetch them from the track repo. By git submodules?

Would that require adding some CI magic to periodically update the state of the submodule

[2021-09-03 08:40] jiegillet commented on #132
For most of the concept exercises, we already have the exemplar solution code in the tests, maybe it's simpler that way. Although I do agree, it would be super cool to fetch them automatically. My CI skills are close to 0 unfortunately, but I'm always looking out for things to learn ;)

[2021-09-03 15:36] jiegillet commented on #132
Exciting, let's do it :)

[2021-09-03 15:46] jiegillet commented on #97
Re-reading the thread, I think the idea was to add a common check that runs `mix format` on the student's code, and if there is a difference, dump the formatted code in an informational comment with "We noticed that your code didn't use `mix format`, a standard formatting tool in the community, here is what the formatted code would look like: ....". We could even have a celebratory comment that sa

[2021-09-03 16:22] angelikatyborska commented on #97
I felt comfortable telling everyone about `mix format` when I knew that everyone is using the CLI (and only if their solution was horribly misformatted). Now with the web editor, getting a comment about  a formatting problem, even if it's really tiny, might be annoying and hard to fix. The value of `mix format` is that you don't have to think about formatting, it just happens automatically. That a

[2021-09-03 18:41] angelikatyborska opened #134 "`high-score` analysis should allow reset_score with remove + add player"
Currently, this solution produces a comment about missing usage of `@initial_score` in `reset_score`. This comment should not be produced if `reset_score` uses `add_player` because then it uses `@initial_score` implicitly.

It might be possible to use the `suppress_if` option to make that happen but I don't know if we can write it in a way that wouldn't produce any extra undesired comments.

[code

[2021-09-03 18:44] angelikatyborska opened #135 "`high-score` analysis should require Map.update in `update_score`"
A common mistake is to write `Map.get` + `Map.put` instead of `Map.update`. Add an analyzer check that assures that `Map.update` will be called in `update_score`.

`Map.update!` is not an option, it's excluded by the unit tests already.

[2021-09-03 21:31] michallepicki opened #136 "`newsletter` - confusing suggestions"
![image](https://user-images.githubusercontent.com/4972756/132063640-11a452c7-7399-4681-b947-7035a040a6e0.png)

I tried to follow the exercise instructions to the word, including hints, but there are suggestions anyway and they are a bit confusing:

1. The first suggestion says not to return `:ok` explicitly, while my function doesn't do that explicitly (it's just because that's what Enum.each doe

[2021-09-03 21:47] michallepicki opened #137 "`assert_call` doesn't see "through" nested function calls"
![image](https://user-images.githubusercontent.com/4972756/132067943-3551a7cb-054b-4346-8564-dcd0ffbc1f76.png)

I added a helper function to re-use code, and got a recommendation to re-use code in a different way.

I understand this is the current limitation of the macro-based approach. Not sure if it could be improved in general, or maybe just for this exercise.

Alternative approach would be to

[2021-09-03 21:58] michallepicki commented on #136
About 2. - I re-visited the instructions it looks like I'm wrong:

[2021-09-03 21:59] #136 closed

[2021-09-04 01:11] jiegillet commented on #97
You're right, it made sense for the CLI, not for the web editor.
Quantifying differences... Mmh... Maybe it can be done? Maybe something like if the diff if more than 15-20% of the rural character count?

Another idea I had was coming back to the compiler warnings. I revisited an older solution that a mentor commented on because I had a compiler warning. Now there aren't any ways to get to those w

[2021-09-04 03:50] jiegillet commented on #137
You're right, we didn't consider helper functions. I think your solution is a valid one and the analysis should reflect that.

Adding tests like the one you propose changes the message students receive from "Good job, but it could be better if you reuse functions" to "You must reuse functions, this is part of the specifications", and I don't think we should do that.

We could enhance `assert_call`

[2021-09-04 05:24] jiegillet commented on #84
This can de done using existing tools.

[2021-09-04 05:31] jiegillet commented on #82
This can be done with existing tools.

[2021-09-04 05:50] #134 closed

[2021-09-04 05:51] jiegillet commented on #81
This one can be done with existing tools.

[2021-09-04 06:05] angelikatyborska commented on #136
I agree that the instructions aren't clear enough about this. Would this help https://github.com/exercism/elixir/pull/872 ?

Are we talking here about the process that is spawned by `File.read!`, or the process that calls `File.read!`? I always thought that files opened with `File.read!` are closed as soon as the whole content is read, so before the function finished executing. Can you point me to

[2021-09-04 06:31] neenjaw opened #139 "Bug -- `RPG.CharacterSheet` false-positive error"
Essential-level error is raised despite meeting the requirements

![Screenshot from 2021-09-04 00-26-49](https://user-images.githubusercontent.com/8953691/132085209-c3ba1e3c-6bb9-4bcd-b0ed-203192d847f8.png)

[2021-09-04 06:33] neenjaw commented on #139
I'm guessing the matcher isn't expecting the pipe operator to be wrapping the call to `IO.puts/1` and `IO.inspect/2`

[2021-09-04 06:42] neenjaw commented on #139
Probably should be triaged by @jiegillet since he wrote that section of the feature form matcher

[2021-09-04 06:51] michallepicki commented on #136
Sure, looks great!

I can check again. I checked and saw that after File.read! returned the string it read, there was still a linked process for that file and descriptor was open, until caller process was alive. I will check again, maybe it was a race. I don't see guarantees about closing immediately anywhere in docs

[2021-09-04 07:41] jiegillet commented on #139
Oh no!
Yes, you are probably right, I didn't think of the pipe operator. Hopefully an easy fix, I'll get on it tonight!

[2021-09-04 07:45] michallepicki commented on #136
That was just me being confused like always, file is auto closed, just monitor link is left, not sure why. Some internal erlang weirdness.

Sorry and thanks for the sanity check!

[2021-09-05 10:13] #139 closed

[2021-09-05 10:35] angelikatyborska commented on #139
@neenjaw can you resubmit your solution and confirm it was fixed?

[2021-09-06 01:34] jiegillet opened #142 "`assert_call` macro treats `comment` and `suppress_if` arguments as AST?"
See:

https://github.com/exercism/elixir-analyzer/blob/8e879533ee112493f2eb19e5b30437fe879d3be0/test/support/analyzer_verification/suppress_if.ex#L19-L26

Also this doesn't work:

[code]
Instead, one needs to use the full module path `ElixirAnalyzer.Constants.high_score_use_module_attribute()`.

Both are most possibly related.

[2021-09-06 10:19] #83 closed

[2021-09-07 19:39] hunkyjimpjorps opened #144 "`rpg_character_sheet` analysis doesn't detect use of `IO.examine` if you pipe into it"
For the final task, it looks like the analyzer is expecting an independent call to `IO.examine` and doesn't catch piping into it.

https://github.com/exercism/elixir-analyzer/blob/290d206c62ae04d5cc9e5bd05763133761899db5/lib/elixir_analyzer/test_suite/rpg_character_sheet.ex#L89-L95

My submitted code:
[code]

Exercism's feedback:

![image](https://user-images.githubusercontent.com/5170341/13240129

[2021-09-07 19:41] angelikatyborska commented on #144
Thank you!

@jiegillet This sounds like something that _should have_ been fixed by https://github.com/exercism/elixir-analyzer/pull/140

Can you take a look?

[2021-09-08 00:09] neenjaw commented on #144
The pipe is wrapped with a match (`=`), so I don't think #140 would catch that

[2021-09-08 00:28] jiegillet commented on #144
Exactly this ⬆️.

I haven't had time to double check, but I think an assignment on the last line should always get you a compiler warning. I can add a common check that checks for that situation, I think that would be a nice addition. This would probably depend on the machinery I set up in #133 though.

[2021-09-08 00:46] neenjaw commented on #144
Yes, there is a compiler warning for that since it is an "unused var"

[2021-09-08 05:32] angelikatyborska commented on #144
But we don't have a way yet to communicate compiler warnings 🙁 sorry, I didn't have time to review #133 yet and it might not happen for another few days.

[2021-09-11 13:43] angelikatyborska opened #146 "Missing parenthesis in zero-arity function definitions cause false-positves"
This solution, while being totally correct, trigger a bunch of checks. The cause is no parenthesis in zero-arity function definitions. Skipping them is not an error and not even a warning, so we should fix this in the analyzer.
[code]

![Screenshot 2021-09-11 at 15-41-28 Exercism](https://user-images.githubusercontent.com/7852553/132949914-59d66160-2002-469b-a52a-6d18bd6b7f51.png)

[2021-09-11 14:05] jiegillet commented on #146
This is due to the particular form of the feature:

[code]
I'll think of how to fix this...

[2021-09-12 05:52] #146 closed

[2021-09-12 13:09] angelikatyborska opened #148 "Write analysis for concept exercise `language-list`"
Add a check that the `Enum` module is not used in the solution. Something like this sound be enough: https://github.com/exercism/elixir-analyzer/blob/972446957878055dd503170f255688bef8361a93/lib/elixir_analyzer/test_suite/bird_count.ex#L8-L12

This exercise teaches lists and the simple functions from the `Kernel` module and the `List` for working with lists.

[2021-09-12 14:00] #137 closed

[2021-09-13 15:41] #130 closed

[2021-09-13 15:59] angelikatyborska opened #150 "Write analysis for concept exercise `log-level`"
Check that both functions `to_label` and `alert_recipient` use `cond` because this is a learning exercise for `cond`.

[2021-09-13 20:34] iHiD opened #151 "`informational` should be `informative`"
There's no `informational` type. It should be `informative`: https://github.com/exercism/elixir-analyzer/search?q=informational

[2021-09-14 00:19] jiegillet commented on #151
That looks like a typically stupid mistake @jiegillet couldn't stop making if he tried.
I'll fix it, and add compiler errors so that can't happen again!

[2021-09-14 05:59] #151 closed

[2021-09-14 06:00] angelikatyborska commented on #151
@jiegillet your only mistake was to keep somebody else's (👀) code that had the same mistake 😇

[2021-09-14 06:24] jiegillet commented on #151
I stopped myself from using `git blame` on this one ;)
And my statement still stands, it is most definitely something I would keep doing!

[2021-09-15 04:24] #135 closed

[2021-09-16 00:22] jiegillet commented on #132
I got the submodule and and automated syncing GitHub Action to work on my forks of `elixir-analyzer` and `elixir` 🎉
I followed the workflows accepted in the SO link you provided, so that `elixir-analyzer` automatically syncs the submodule whenever a commit is pushed to the `main` branch of `elixir`.

I still have some uncertainty around creating the GitHub Action tokens for `exercism` rather than

[2021-09-16 06:10] angelikatyborska opened #156 "Common check for `raise FunctionClauseError`"
Some of the unit tests for learning exercises (and collatz-conjecture) contain assertion that specific function calls raise `FunctionClauseError`. This is to check that the student didn't implement too permissive function clauses.

However, some students take that too literally and actually write `def foo(_), do: raise FunctionClauseError`.

There should be a common check for every solution that `

[2021-09-17 09:45] iHiD commented on #132
In the long term, this should probably be at the website-level rather than the analyzer level. But it's good here for now!

The one problem with doing this at the analyzer-level is that I don't really want the Analyzer to deploy every time the Elixir repo gets updated. Also, solutions are locked to git shas, not to the repo head. So rather than syncing the repo, maybe we push the exemplar file int

[2021-09-17 13:56] jiegillet commented on #132
Maybe that can be a use of the representer when it goes live? It would be nice to ignore formatting and variable names.

Pushing the exemplar file would be helpful. We also suspect that it already happens ([from this file](https://github.com/exercism/website/blob/3d7cf1dca23b9f91827d052bfd6f87416bbf8e07/test/commands/submission/analysis/init_test.rb)), but could not confirm.

There is another use

[2021-09-17 14:06] iHiD commented on #132
Yeah, I don't mind you using a submodule. The key thing is that I don't really want versions of the analyzer deploying when nothing functional has changed. For lots of reasons (harder to debug, more HDD space used on machines, more build time and environmental cost, etc)

You could always check out the repo during CI rather than having it as a submodule too. But I don't have a preference on that:)

[2021-09-20 15:58] #148 closed

[2021-09-21 14:37] #156 closed

[2021-09-22 00:24] #150 closed

[2021-09-22 10:13] angelikatyborska opened #161 "`file-sniffer` analyzer should allow segments of types other than just `binary`"
According to https://hexdocs.pm/elixir/Kernel.SpecialForms.html#%3C%3C%3E%3E/1 segment types of `bitstring`, `bits`, and `bytes` should all be allowed in pattern matching the rest of the strings in the exercise `file-sniffer`. Maybe `utf-8` too? I'm not sure about those.

At the moment we only allow `binary`.

This is an example solution that falsely triggered an analyzer comment:
[code]

[2021-09-23 10:47] jiegillet commented on #161
I think we could make a simple change in `lib/elixir_analyzer/test_suite/file_sniffer.ex`

[code]
For every mention of `binary`.

[2021-09-23 14:40] #42 closed

[2021-09-27 02:03] jiegillet opened #164 "Inaccurate analyzer comment in `newsletter`"
<img width="1234" alt="Screen Shot 2021-09-27 at 10 49 29" src="https://user-images.githubusercontent.com/16929078/134834238-60784665-03b6-4302-9fb4-a899a562bd8e.png">

Even though I wrote this analyzer check, I still got it wrong :)

I used `IO.write` instead of `IO.puts`. In hindsight, using `IO.puts` is better, but it's not mentioned in the instructions or the hints. I got there because I rushe

[2021-09-27 11:53] angelikatyborska opened #165 "Report compilation warnings as actionable"
Dealing with compilation warnings is crucial for writing clean and maintainable Elixir code, and can be a teaching experience for new developers. However, it shouldn't be a blocker preventing people from submitting their solutions. For this reason, it doesn't belong in the test runner, but here.

Unfortunately that means we need to add a compilation step for the student's submission, which will sl

[2021-09-27 12:47] jiegillet commented on #97
I thought of a new check. Quite a few times when mentoring I saw code like this:
[code]
I think we could suggest to use `if` instead. What do you think?

I have another one, but it' more of a personal preference. Sometimes I see code with arguments piped into a single function like this `argument |> function()` instead of the simpler `function(argument)` and I wonder if it's not hurting readabilit

[2021-09-27 12:50] jiegillet commented on #165
I would love to work on this, it's been on my mind for a while. I don't have a good plan yet, though.

Can we quantify this somehow? I have never used benchmarks with Elixir.

[2021-09-27 12:54] angelikatyborska commented on #97
IMO both are too subjective for me to feel comfortable adding them to the analyzer. I agree with you that most two-clause cases should be `if`s instead but not everyone feels the same. I have been in a casual fight about this with a bunch of devs over a beer 😂.

Something different that might be more objective is the `if true do true` pattern:
[code]

[2021-09-27 12:57] angelikatyborska commented on #165
The go to solution for benchmarking in Elixir is https://hex.pm/packages/benchee

All you need to have is a few different functions that you want to compare. Then you run them for a few thousand or hundred thousand times and Benchee prints the stats for you.

[2021-09-27 12:58] jiegillet commented on #97
OMG yes, that's just plain wrong :)

[2021-09-27 16:59] #142 closed

[2021-09-28 22:54] angelikatyborska opened #168 "Add a common check for `is_foo?` function names that mix up two separate naming patterns"
I saw this in one of the community solutions:

[code]

The correct name is either `allowed_char?` or `is_allowed_char`, not both. Source: https://hexdocs.pm/elixir/naming-conventions.html#is_-prefix-is_foo

We should add a common check that looks for functions and macros named `is_foo?` and points to the explanation that it should be either `foo?` or `is_foo` (but we don't need to try to detect wh

[2021-09-28 23:31] angelikatyborska opened #169 "Handle common problems in `german-sysadmin`"
As @Cohen-Carlisle rightfully brought to our attention, the community solutions for this exercise are full of antipatterns, and people doing them aren't requesting mentoring, so they are not aware something is wrong. Some of those could be detected with the analyzer, but it might be very tricky to get them right. Let's discuss.

I am not going to provide links to specific solutions because this is

[2021-09-29 00:04] jiegillet commented on #169
For problem 2, I say yes. We can introduce a new type of check like we discussed in #86. Something like

[code]

I don't know hot to approach the other problems yet.

[2021-09-29 00:27] #161 closed

[2021-09-29 00:32] jiegillet commented on #168
`is_foo` is reserved for guards clauses though right?
That's what mentor extraordinaire @chriseyre2000 taught me anyway :)

It would be simple enough to check the distinctions and only allow
`def/depf foo?`
`defguard/defguardp is_foo`

[2021-09-29 06:53] angelikatyborska commented on #168
It's not that straight-forward. Yes, for custom guards we could completely ban `foo?`, and for functions we could completely ban `is_foo` but the gray area are macros. Macros can be used in guards, but only if they consist of expressions that can be used in guards. For example:

[code]

[2021-09-29 07:00] angelikatyborska opened #170 "Add common check to suggest using `[h | t]` instead of `[h] ++ t`"
@jiegillet writes:

[2021-09-29 07:01] jiegillet commented on #168
Macros, man...
How about this then?

| definition | is_foo? | is_foo | foo?|
| --- | ----------- | -- | -- |
| def/depf | 🚫  | 🚫 | ✅ |
| defguard/defguardp | 🚫 |✅ | 🚫 |
| defmacro/defmacrop | 🚫 | ✅ | ✅ |

[2021-09-29 07:18] angelikatyborska commented on #168
That looks correct to me.

[2021-09-29 17:10] angelikatyborska opened #172 "Handle common problems in `wine-cellar`"
After browsing a few community solutions I only see one problem here so far. I also had it in my both mentoring sessions for this exercise 🤔

## Problem 1: not using `Keyword.get_values` for filtering by color

`Keyword.get_values` is by far the shortest and easiest way to fulfill the requirement of filtering by color.

It should be favored over other approaches, also to encourage exploration of t

[2021-09-30 00:28] #164 closed

[2021-09-30 01:29] jiegillet commented on #172
That's a simple `assert_call`: calling function `filter` and called function `Keyword.get_values`.
I was guilty myself of not knowing about Keyword.get_values` 😅

[2021-09-30 07:27] #165 closed

[2021-09-30 14:42] iHiD opened #227 "Consider adjusting summary length"
<img width="428" alt="Screenshot 2021-09-30 at 15 40 59" src="https://user-images.githubusercontent.com/286476/135476913-3e214f32-869f-4248-985f-b55434fa56e4.png">

It would be nice if this fit on either one line, or split more nicely over two.

e.g.

<img width="420" alt="Screenshot 2021-09-30 at 15 41 52" src="https://user-images.githubusercontent.com/286476/135477007-0808947f-faea-4ef7-aeec-768

[2021-10-01 15:13] Br1ght0ne commented on #172
Hey, I used `Keyword.get_values` in [my solution](https://exercism.org/mentoring/external_requests/a7057b923d194b08beddcd5c32874350)! Glad to know it's a preferred solution. I'll handle this issue.

[2021-10-02 10:27] #172 closed

[2021-10-02 14:10] jiegillet commented on #60
Hi @ThiagosLima, since we have not received a PR from you since June, we would like to re-open this issue to other contributors. Of course if you are still working on it, feel free to let us know.

[2021-10-02 14:15] jiegillet commented on #86
Note to potential contributors: this issue can go ahead ignoring the multiline string issue discussed above, it will require more work and discussion. In the mean time, the other checks can be implemented.

[2021-10-02 16:32] angelikatyborska opened #181 "Add common check for `@doc` + `@spec` order"
Write a common check that will detect this order of annotations
[code]
And recommend to do this instead:
[code]

The type of this comment should be `:actionable` or `:informative`, not `:essential`.

This will mostly apply just to the `city-office` exercise, but in theory it's a common check. I was asked about this in a few mentoring sessions.

While technically it doesn't matter which one comes f

[2021-10-04 09:39] #170 closed

[2021-10-04 16:15] #82 closed

[2021-10-07 11:11] julngomz commented on #84
I can work on this issue.

[2021-10-08 14:17] angelikatyborska commented on #169
Thanks for the ping, I must have lost the notification email somewhere for the previous comment!

I see on https://github.com/exercism/elixir-analyzer/issues/86 that my opinion on:

was:

However, I do put a lot of value in using `?` in this exercise, so consider my opinion overall changed 🙂

I like this:

[code]

It will open up the possibilities of custom exercise-specific checks, which is somet

[2021-10-10 11:10] jlirochon opened #191 "Is it possible to improve the analyzer for `captains-log` ?"
On my [3rd iteration](https://exercism.org/tracks/elixir/exercises/captains-log/solutions/jlirochon) of this exercise, the analyzer gives this advice:

But as [you can see](https://exercism.org/tracks/elixir/exercises/captains-log/solutions/jlirochon) I used `:io_lib.format/2` already. I think what confuses the analyzer is that I have 2 bodies for `format_stardate/1`.

Is it possible to improve th

[2021-10-10 11:26] angelikatyborska commented on #191
Thank you for the issue! You're right, this sounds like a bad experience that should be improved.

Right. After some short debugging, I came to the conclusion that the problem is not multiple clause functions in general, but the fact that the clause that does the desired call to `:io_lib` has a guard expression with `when`.

You can see this bug in action by adding this test case to the file `test

[2021-10-10 13:03] jiegillet commented on #191
Oh, that's a huge oversight, I'm surprised this went through unnoticed for so long!
I suspect that the problem is here
https://github.com/exercism/elixir-analyzer/blob/d3e3980ddbe98947d6428b29c59cbf2c2ff94f25/lib/elixir_analyzer/exercise_test/assert_call/compiler.ex#L246-L250

It doesn't return the function name when there is a `when` because `when` changes the position of the function name
[code]

[2021-10-11 06:55] jiegillet opened #193 "Add check for `sieve`"
The description of the problem says

I opened more than a dozen random solutions, literally all of them use `rem`, as well as the example solution. For contrast, [here is my solution](https://exercism.org/tracks/elixir/exercises/sieve/solutions/jiegillet).

Understandably, it is inefficient and uncomfortable for an immutable language to implement a true sieve algorithm, but since those are the ins

[2021-10-13 16:21] angelikatyborska opened #195 "Add common check for removing boilerplate comments"
Most concept exercises have boilerplate code with comments that say "Please implement the xyz/n function". A lot of published solutions still have those comments.

Add a common check for all exercises that will look for this pattern in the string with the solution:

[code]

If it finds it, it should return an actionable comment that says something like this:

If you want to be 100% sure that only

[2021-10-14 13:25] jiegillet opened #196 "Refactor supported check types from `feature`, `assert_call` and `check_source`"
Either in this pr or another, this check for the supported check levels is probably something that is repeated.  Can we extract this check to another module so we can just do something like this:

[code]

_Originally posted by @neenjaw in https://github.com/exercism/elixir-analyzer/pull/189#discussion_r725763940_

[2021-10-15 06:06] #191 closed, assigned to nobody

[2021-10-17 09:01] #195 closed, assigned to nobody

[2021-10-17 10:41] #196 closed

[2021-10-18 17:13] fmmatheus opened #199 "Update concept exercise `boutique-inventory` expectation to use Enum.into"
Original thread: https://github.com/exercism/elixir-analyzer/pull/194

### Description

Update `increase_quantity ` function expectation (code analysis, hints and examples) on `boutique-inventory` concept exercise to use `Enum.into/3` instead of `Enum.map` + `Enum.into/1`.

### Motivation

@angelikatyborska found out by searching on community answers that most users are using `Enum.map` + `Enum.in

[2021-10-20 05:33] angelikatyborska opened #200 "Write analysis for concept exercise `library-fees`"
## Desired checks

### 1. Ensure code reuse

The function `calculate_late_fee` needs to call:
	- `datetime_from_string`,
	- `return_date`
	- `days_late`
	- `monday?`

[2021-10-20 07:25] angelikatyborska opened #201 "Write analysis for concept exercise `take-a-number`"
## Desired checks

### Helper function should be private

Look for all the public functions defined in the solution. There should only be one, `start/0`. Every other function should be private. This should either be an "actionable" or even "informative" comment.

## Implementation?

There is no helper macro for this kind of check. It would need to be a custom check directly on the AST using `check

[2021-10-20 12:45] jiegillet opened #202 "Write analysis for concept exercise `new-passport`"
- make sure that `with` is used in `get_new_passport /3`
 - make sure that `case` is not used in `get_new_passport /3`
 - make sure the functions below were not touched

[2021-10-20 13:06] jiegillet commented on #132
Concerning the last part of this issue that hasn't been solved:

It is now within our reach since we have the submodule, and I did some tests with this a little while back, but haven't managed to find a satisfying solution yet, because the macros are tricky to handle.

Also, I came to wonder about that feature. I actually do like copy-pasting the exemplar solution in the tests, because it really h

[2021-10-20 16:56] angelikatyborska commented on #201
Hmm. Maybe we should ask some of the mentors. I always tell students to make private everything that doesn't have to be public, but I wouldn't be surprised to be labelled preachy 🙃

[2021-10-21 07:22] angelikatyborska commented on #201
A few voices on Slack agreed with the check.

There was also a mention about `@doc false` which is a way to hide public functions from the generated documentation. This is necessary when writing a library, and you need to make a function public for your own usage between modules, but the users of your library shouldn't use it.

[2021-10-21 20:55] jlirochon commented on #105
Can I work on this one ?

[2021-10-26 16:23] angelikatyborska opened #209 "Ensure unit tests on CI always run with the latest commit from main of the exercism/elixir git submodule"
Quoting @jiegillet

https://github.com/exercism/elixir-analyzer/pull/204#issuecomment-949281229

[2021-10-28 15:31] #209 closed, assigned to jiegillet

[2021-10-31 17:41] neenjaw commented on #97
I would disagree with adding this check, it assumes that `something?` is a single term expression and the result is a single value. I also think this is a matter of style where there is no canonical voice (that I am aware of) advising it.

[2021-10-31 17:45] neenjaw commented on #97
If `a` and `b` aren't both boolean values, then this isn't as silly as it seems.

I think the contrived example is

[code]

[2021-11-06 13:09] #202 closed

[2021-11-06 13:14] #201 closed

[2021-11-06 15:08] angelikatyborska opened #214 "Write analysis for concept exercise `top-secret`"
Desired checks: https://github.com/exercism/elixir/blob/main/exercises/concept/top-secret/.meta/design.md#analyzer

[2021-11-07 01:39] ynfle opened #216 "`high-score` analysis unclear about having to use the module attribute in two places"
It seems that there is incorrect detection of a module constant in the `high-score` exercise

<img width="1280" alt="Screen Shot 2021-11-07 at 3 33 01 AM" src="https://user-images.githubusercontent.com/23086821/140628997-9ca19015-0423-46b3-bb59-263b6a756d39.png">

[2021-11-07 09:45] angelikatyborska commented on #216
The comment is confusing if you only use the module attribute in one of the two required places (`add_player`, `reset_score`). Either the comment needs to be rephrased or the two checks need to have separate comments.

[2021-11-07 09:46] ynfle commented on #216
Ahhhh. Makes sense.

Thanks

[2021-11-07 12:10] jiegillet commented on #216
I'll vote for rephrasing the comment. In fact, I'll go do it now.

[2021-11-07 12:12] angelikatyborska commented on #105
@jlirochon How is it going? Do you need any help?

[2021-11-07 12:30] jiegillet commented on #216
Turns out, there is actually 2 checks already, but this one doesn't the specific function for some reason...

[2021-11-07 13:25] #214 closed

[2021-11-07 16:23] #216 closed

[2021-11-07 16:37] angelikatyborska opened #218 "Common check: function capture instead of defining a new anonymous function"
Add a common check for all exercises that will detect creating unnecessary anonymous functions and suggest capturing an existing function instead.

An anonymous function is unnecessary when the only operation in its body is calling another function with exactly the same arguments in the same order.

Make sure to detect both ways of creating an anonymous function, with the capture operator `&` and

[2021-11-08 00:58] jiegillet commented on #218
I'll take this one :)

[2021-11-08 13:14] jiegillet commented on #218
I ran into one exception from `chessboard`.

[code]
I couldn't find a way to rewrite that, so I'll have to hardcode a list of exceptions. Now I wonder if there are more and how to find them...

[2021-11-08 14:43] jiegillet commented on #218
Note: fix later

Concept exercise:

https://github.com/exercism/elixir/blob/9adc180d9cb6c6697847c0502bc029d95e1ffab5/exercises/concept/rpn-calculator-inspection/.meta/exemplar.ex#L22

Practice exercise:

[code]

[2021-11-08 23:03] jlirochon commented on #105
Hey @angelikatyborska thanks for asking !

It's just that I was not working on it until tonight 😅

I submitted #220 if you want to look at it.

[2021-11-09 13:52] jiegillet commented on #97
How about a check that suggests `Enum.map_join` instead of `Enum.map(list, &something/1) |> Enum.join("\n")`?

[2021-11-10 19:59] angelikatyborska commented on #97
Too subjective IMO, and yes, I say that mostly because _I_ never use `map_join` 😇. I don't even know why.

[2021-11-10 20:05] angelikatyborska opened #229 "Dependabot for Elixir deps for all tooling"
Should we configure all tooling repos to automatically update Elixir deps with dependabot?

- Analyzer uses: jason, credo, dialyzer
- Test Runner uses: jason
- Representer uses: nothing

[2021-11-11 01:19] #227 closed

[2021-11-11 05:52] neenjaw commented on #229
depends what update means? patch versions? sure. Minor/major versions? no, I think that should be done by a human

[2021-11-11 08:10] jiegillet commented on #229
I don't have much experience with long term maintenance of dependencies, but in principle I don't have an issue with asking dependabot to update things. If all tests pass, that should be fine, we can always fix broken things later. We can also treat dependabot as a notifier of new versions and not feel pressured to update...

[2021-11-11 13:16] #105 closed

[2021-11-13 13:15] angelikatyborska commented on #229
In general, if you intend to maintain a project long term, I would say some sort of automated dependency update is necessary. The reason is that if you do maintain a project, at some point you will need to do a change to the project that requires a new external dependency or a new feature from the current one. If you didn't do regular dep updates, now you have to do all of them at once. This incre

[2021-11-14 01:28] #218 closed

[2021-11-14 15:05] homeopathicdoctor commented on #199
[https://drtariqkhan.com/](url)

[2021-11-15 08:11] #86 closed

[2021-11-19 21:17] michallepicki commented on #97
An idea for a global check came up: when there's only one function clause with a body, and student additionally specified a "top" function head (e.g. to add a default argument), suggest that they can merge it with the only function clause. E.g.
[code]

could be
[code]

[2021-11-24 04:42] jiegillet opened #237 "Add warning when `suppress_if` doesn't have the proper arguments"
For some reason I thought it needs to be a tuple, so I was attempting:
[code]

which didn't work but also didn't give any hints about why

_Originally posted by @angelikatyborska in https://github.com/exercism/elixir-analyzer/pull/235#discussion_r753801649_

[2021-11-24 09:33] jiegillet commented on #229
How do we evaluate test coverage?

[2021-11-24 16:39] angelikatyborska commented on #229
In the past I have used https://coveralls.io/ + https://github.com/parroty/excoveralls, apparently you can also pass a `--cover` option to `mix test`:

[code]

[2021-12-01 16:27] #237 closed

[2021-12-01 22:15] #193 closed

[2021-12-02 01:36] jbcden opened #239 "Analyzer is detecting a provided method as a method that should be private"
In the remote-control-car exercise, there are 2 `new` methods provided (`new/0` and `new/1`). Both are needed to make the test suite pass (though you could replace `new/0` by adding a default value to `new/1`). When you submit the solution, the analyzer suggests making `new/0` private, even though it is called in the public interface.

While the analyzer is not necessarily wrong about `new/0` not

[2021-12-02 02:17] jiegillet commented on #239
Ah, good catch, thank you for reporting.

I know what this happens. This check works by comparing the functions defined in the solution to the ones [in the exemplar implementation](https://github.com/exercism/elixir/blob/d00ca743340fcc328c70ee351274f91b57fd4c8d/exercises/concept/remote-control-car/.meta/exemplar.ex#L9-L11). Of course, in there it is done there by using a default argument, which is

[2021-12-02 02:32] jbcden commented on #239
@jiegillet Thanks for looking into this! Good to know how this works :smiley:

[2021-12-02 02:40] #181 closed

[2021-12-02 10:38] angelikatyborska commented on #239
Yes, that's a good idea!

That is also a good idea.

Our only mechanism for "detecting" those opportunities is to have somebody complain about a confusing analyzer check. This requires somebody to have enough confidence to recognize that the check is wrong, not their solution, and to care enough to even write about this. Which means most students won't complain and will just be confused. IMO that

[2021-12-02 12:09] jiegillet commented on #239
Sounds good, let's do both things!

[2021-12-03 10:01] jiegillet commented on #84
Hello!
We haven’t seen any PR for this, so feel free to work on it.

[2021-12-03 15:38] ryanzidago commented on #84
I've opened up a PR https://github.com/exercism/elixir-analyzer/pull/242
Let me know what you think :pray:

[2021-12-05 12:36] #239 closed

[2021-12-12 12:00] angelikatyborska commented on #60
I was mistaken opening this issue because the instructions of this exercise do not mention anywhere that you have to use recursion or that you can't use Enum .

[2021-12-12 12:00] #60 closed

[2021-12-13 13:28] #84 closed

[2021-12-17 08:21] ryanzidago opened #244 "Analyzer for the FileSniffer exercise return improper feedback"
The following solution:
[code]

triggers the following error:

Obviously I'm using `<<>>`, but via a module attribute.

[2021-12-17 16:09] angelikatyborska commented on #244
Let me add to the list of problems with the FileSniffer analyzer @MeerKatDev's solution that is correct, yet triggers a comment too:

<img width="1433" alt="Screenshot 2021-12-17 at 10 50 37" src="https://user-images.githubusercontent.com/7852553/146573995-c1c54f9c-19f8-4b08-bda1-228fabb43fbe.png">

[2021-12-18 06:35] jiegillet commented on #244
Thank you very much for opening this issue.
Two independent `FileSniffer` problems within a day, that's interesting :)

I've opened a PR that should fix both cases.

[2021-12-18 08:58] #244 closed

[2022-02-01 17:47] angelikatyborska opened #250 "RPG character sheet falsely returns errors when importing IO"
A solution that imports `IO` is technically correct, but it fails analysis because `welcome` doesn't end in `IO.puts`.

[code]

Ideally both imported and aliased usages of IO functions would be supported by the analyzer.

[2022-02-01 20:18] joshgoebel commented on #250
@angelikatyborska Thanks for filing issue!

[2022-02-03 01:52] jiegillet opened #251 "`clock` produces protocol consolidation compiler warning"
Even for the example implementation,
[code]

A warning is produced
[code]

There is no warning when compiling the file locally.

This could be due to `ElixirAnalyzer.ExerciseTest.CommonChecks.CompilerWarnings` somehow re-compiling the code several times and not purging the protocol consolidation.

[2022-02-03 11:16] AlenMorgan commented on #199
I think this [ Add check for increase_quantity function on boutique-inventory exercise ]

[2022-02-04 10:17] #250 closed

[2022-02-11 12:58] #251 closed

[2022-03-12 17:41] SleeplessByte opened #267 "False positive in basics"
![image](https://user-images.githubusercontent.com/1964376/158028696-47d91d9c-3831-4a34-b193-ff55f29e1dcb.png)

I probably should have used different syntax (without the `Lasagna.` prefix?), but I am pretty sure I used the function.

[2022-03-12 21:11] angelikatyborska commented on #267
Damn 😞

Yes.

There are other affected exercises: guessing game, chessboard, high school sweetheart... Basically anything that calls`assert_call` with a local function name without a module name specified in `called_fn`. Specifying the module name in `called_fn` will make it work (not return comments) for local function calls with and without a module name, which would be a quick fix. But a better

[2022-03-12 22:41] jiegillet commented on #267
I can’t believe this never came up before :)

I would propose
1. Making assert_call accept the module prefix even if none is specified
2. Adding a common check: you don’t need to use the module prefix in the module itself.

Shouldn’t be too hard…

[2022-03-13 02:24] SleeplessByte commented on #267
FYI the reason I prefixed it with the module name is because in the introduction and instructions, all calls are prefixed. It worked, so I thought I did the right thing 😄

[2022-03-28 06:42] #267 closed

[2022-04-10 14:48] angelikatyborska opened #274 "Write analysis for concept exercise `dancing-dots`"
Desired checks: https://github.com/exercism/elixir/blob/main/exercises/concept/dancing-dots/.meta/design.md#analyzer

[2022-04-11 19:12] angelikatyborska opened #276 "TakeANumberDeluxe always returns compliation warnings about unknown module State"
Note this analysis result for the exemplar solution:
![Screenshot 2022-04-11 at 21-10-42 Exercism](https://user-images.githubusercontent.com/7852553/162812512-e6d89f7b-47c7-42b3-9653-a35c4e522b2e.png)

[2022-04-11 19:31] angelikatyborska commented on #276
I think the solution has to be to prepend/append editor files to the code before it gets compiled for the sake of compilation warnings 🤔

This doesn't affect dancing-dots because there the other module only gets used for type definitions.

[2022-04-11 19:37] angelikatyborska commented on #276
As a quick fix, we think we could also use `use ElixirAnalyzer.ExerciseTest, suppress_tests: [Constants.solution_compiler_warnings()]` on this exercise. Not ideal, but better than false-positives.

[2022-04-12 05:32] angelikatyborska commented on #276
It does sound like what we need: "Those files are compiled in parallel and can automatically detect dependencies between them.".

I think there are multiple topics here, multiple levels of complexity...
1. Support more than 1 solution file, read from the config. All of the analyzer checks should run on all of them because all of them must be edited by the student. So far we don't have such an exer

[2022-04-12 05:46] angelikatyborska opened #278 "Extend TakeANumberDeluxe `@impl` check to check all callbacks"
In https://github.com/exercism/elixir-analyzer/pull/277, we added a simple check that detects if `@impl GenServer` is used anywhere in the code at least once. Improve this check so that it actually verifies that all callback definitions are annotated: `init/2`, `handle_call/3`, `handle_cast/2`, `handle_info/2`.

[2022-04-27 07:40] chriseyre2000 opened #282 "Suggests that arty zero anon functions are converted to short form."
Here is the sample code (from Community Garden):

[code]

This is the warning generated:

[code]

[2022-04-27 07:43] chriseyre2000 opened #283 "Warns about a compare function used in a sort"
Here is the code:

[code]

It raises the following warning:

[code]

[2022-04-27 07:46] chriseyre2000 opened #284 "Warns about order of doc and spec attributes, but I can't find the error"
Here is the code:

[code]

Here is the warning:
[code]

[2022-04-27 13:54] jiegillet commented on #284
I bet it has something to do with the `Sorting` module.
This check is a bit flacky and needs to be revisited.

[2022-04-27 13:59] chriseyre2000 commented on #284
I only added the Sorting module to bypass another analytics warning, which has been raised as a distinct issue.

[2022-04-27 14:00] jiegillet commented on #283
Just to be clear, your `compare/2` is overriding the default behavior of comparison of a a 2-tuple?
I had no idea you could do that.
I also have no idea how to tackle this corner case...

[2022-04-27 14:04] jiegillet commented on #284
Oh sure, I didn't mean to criticize your code, I just remember thinking that the PR that added this check didn't handle switching  modules in the best way possible.

[2022-04-27 14:12] jiegillet commented on #282
I think I get what's going on
[code]
In the AST, `%{}` looks like a function. `<<>>` and `{}` do the same, and we have a way of dealing with those

https://github.com/exercism/elixir-analyzer/blob/57a3a64f697924d3b4bcdb928c3635f1e7ad3685/lib/elixir_analyzer/exercise_test/common_checks/function_capture.ex#L44

It should be an easy fix.

[2022-04-27 15:29] chriseyre2000 commented on #283
It's one of the versions of Enum.sort, provide a module name with a compare function implemented in it.
I am one of the crazy people who reads the documentation.
It was intended to allow a struct to define how it is sorted, but here I am using it for a 2-tuple.

The lazy option would be to permit compare/2 to be defined if Enum.sort/2 is used.

[2022-05-01 06:43] jiegillet commented on #276
I want to signal that I've been working on this (it's missing some tests), but I'm blocked by #284 (`elixir.solution.function_annotation_order` is triggered when all files are concatenated) and #286 (the exemplars update part).
I'll switch on working on #284 for now.

[2022-05-02 12:22] #282 closed

[2022-05-13 10:59] chriseyre2000 commented on #283
I am also having trouble using this for the Poker exercise.

Here is my published solution that exhibits this issue: https://exercism.org/tracks/elixir/exercises/poker/solutions/chriseyre2000

[2022-05-14 13:31] jiegillet commented on #283
Thank you for giving us more failing tests :)

Right now, I have 2 PRs lined up to fix #284 (in #287) and #276 (almost done but not pushed yet because it requires #287) that I would like to get done before tackling this issue.
If you feel up to the task and you want to help, we could use a review on #287, it's a self-contained function, you don't need to know anything about the rest of the codebas

[2022-05-14 18:30] #284 closed

[2022-05-14 18:31] angelikatyborska commented on #276
@jiegillet You should be unblocked now, sorry for the long wait!

[2022-05-15 13:56] jiegillet commented on #276
Thank you, no need to apologize :)

[2022-05-21 07:26] #283 closed

[2022-05-24 23:49] #278 closed

[2022-05-27 12:27] angelikatyborska commented on #81
This issue has been resolved a while ago in: https://github.com/exercism/elixir-analyzer/pull/194

[2022-05-27 12:27] #81 closed

[2022-05-27 12:34] angelikatyborska commented on #199
This issue was already resolved a while ago in: https://github.com/exercism/elixir-analyzer/pull/203

[2022-05-27 12:34] #199 closed

[2022-06-02 04:45] #274 closed

[2022-06-02 12:54] TBK145 opened #296 "Accept defdelegates as valid equivalents of function calls in `assert_call`"
Hi, I'd like to start off with saying I love this tool and the exercises.
Now I've been using Elixir for a couple of years already and I'm kinda trying to work my way through the problems as fast as possible, and I implemented the "High Score' problem using `defdelegate`. Now I understand this isn't the point of the exercise, but the analysis remarks I got weren't correct.

This is the code:
[code

[2022-06-04 06:37] jiegillet commented on #296
TIL about `defdelegate` :)
I wouldn't expect beginners to know about it either, but that doesn't mean it's cheating to use it.
That being said, it might be a little tricky to fix the essential comment, so I think I would go with your last suggestion.

[2022-06-07 03:11] #80 closed

[2022-06-07 08:15] jiegillet opened #297 "Dissallow the use of `**` in `square-root`"
`Kernel.**/2` was added in Elixir 1.13, we should make sure it cannot be used in the `square-root` exercise.

[2022-06-12 14:26] #276 closed

[2022-06-17 10:43] TBK145 opened #301 "Analysis of "File Sniffer""
Hi, I was doing the "File Sniffer" exercise, and this was my solution:
[code]
But for some reason it still gave me this feedback:

Even though there could be other valid ways to solve this exercise, for the sake of mastering bitstrings please match the first few bytes of the argument of type_from_binary/1 with the special form <<>>.

I tried solving for the problem myself, but couldn't find what w

[2022-06-21 22:19] randre03 opened #302 "Analysis of High_Score"
I received the following feedback to my answer to the High Score problem:

Use [Map.update](https://hexdocs.pm/elixir/Map.html#update/4) instead of [Map.put](https://hexdocs.pm/elixir/Map.html#get/3) + [Map.get](https://hexdocs.pm/elixir/Map.html#put/3) in update_score to update scores in a single call. For the updating function, define an anonymous function using [fn](https://hexdocs.pm/elixir/Ke

[2022-06-25 14:39] jiegillet commented on #301
I looked into it, and the problem is with the PNG.
The analyzer expects
[code]
but you entered
[code]
You are missing the last `0x0A`, so your `type_from_binary` is too permissive.

The way to fix this is not with the analyzer, but with the tests. We could add some tests that should reject files that only match up to the last identifying byte, maybe something like
[code]

[2022-07-07 14:25] snowfrogdev opened #304 "Analysis of File Sniffer"
Here is my solution:
[code]

And here is the message I get from the analyzer:

Even though there could be other valid ways to solve this exercise, for the sake of mastering bitstrings please match the first few bytes of the argument of `type_from_binary/1` with the special form `<<>>`.

It seems to me like that is exactly what I'm doing.

[2022-07-11 22:57] Lgdev07 commented on #304
Hey @snowfrogdev

The problem is with your input on the `png` type.

Your input is
[code]

But the analyser expects at least these hexadecimals
[code]

You can see the test here:
https://github.com/exercism/elixir-analyzer/blob/706843e21384efc6c2842dc6213d885d9d0ba63b/lib/elixir_analyzer/test_suite/file_sniffer.ex#L33

[2022-07-12 11:52] altuntasfatih opened #305 "Analysis of Basketball Website"
I received the following feedback on my answer to the Basketball Website problem:

`"In this exercise, there is no need to handle nil values explicitly. The Access Behaviour is implemented for nil."`

If I do not handle the Nil case, it continues to iterate until the finish path array. However, in my opinion, that is a redundant iteration because the value is already `nil` and never changes. Also,

[2022-07-12 13:53] snowfrogdev commented on #304
Yeah, I cheated there, for formatting purposes. I figured I didn't need all of it to pass the exercise tests. 😁 So maybe we should modify the exercise tests so that they fail if the entire set of hexadecimals is not used?

[2022-07-12 19:59] Lgdev07 commented on #304
Ah, that makes sense, the problem is in the tests, I will take a look :smile:

[2022-07-13 20:40] arconautishche opened #307 "Incorrect or misleading 'Essential' warning in 'Basketball Website'"
I'm getting the following warning if I prefix `get_in(...)` with `Kernel`:

I'm not sure if this is a mistake or just a matter of wording. Maybe the idea was to say you do not need to prefix Kernel functions with `Kernel`?

This code produces the warning:
[code]
and this does not:
[code]

[2022-07-13 20:53] arconautishche commented on #305
You could probably simplify your `extract` function and remove the `nil` issue like this:
[code]

Although I'm not sure your original solution isn't just as valid.

[2022-07-13 21:25] altuntasfatih commented on #305
@arconautishche, My solution is correct, but I am trying to point out another thing.

The feedback says you should not handle the `nil` case because the `Access` module already handles it like in your simplified version.
In your simplified version( also many other community solutions), the code iterates all path items even when data is `nill.`

In brief, the above feedback directs people to a solu

[2022-07-14 06:38] angelikatyborska commented on #305
@altuntasfatih You're absolutely right. I didn't notice that the pattern matching on `nil` has a purpose, at a first glance it looked unnecessary. We should remove that piece of feedback from the analyzer. Would you want to open a PR for that?

[2022-07-14 06:52] angelikatyborska commented on #307
@arconautishche Good find, there's a bug 👀. This comment is produced when the analyzer thinks you didn't use `Kernel.get_in` in `BasketballWebsite.get_in_path`. Unfortunately it only detects `get_in` used without the module name prefix. We definitely don't want to tell people to remove the module name prefix from the function call, both ways of calling the function are valid.

Our custom macro `as

[2022-07-14 10:12] arconautishche commented on #307
Thanks for the detailed explanation, @angelikatyborska! I will try to make a PR soon.

[2022-07-14 13:20] altuntasfatih commented on #305
@angelikatyborska I would like to open pr for that

[2022-07-15 10:20] angelikatyborska commented on #296
Hi!

First of all, I'm really sorry it took me so long to get back to you 🙏. It has been a very busy summer for me.

Second of all, thank you for reporting this and bringing this issue to our attention.

I'm not entirely sure if I agree with this statement:

I think a solution with `defdelegate`s like yours is perfectly valid. You still had to choose all the right `Map` module functions and know h

[2022-07-15 13:40] #307 closed

[2022-07-17 18:05] #305 closed

[2022-07-19 10:20] Rutaba opened #310 "Universal recommendations?"
So I just completed the Lasagna Learning Exercise in the Elixir Track and after submitting the assignment, the recommendation of re-using the functions was still issued when I already had re-used them in my code.

This is the code that I submitted:

`
defmodule Lasagna do
  def expected_minutes_in_oven, do: 40

  def remaining_minutes_in_oven(time_in_oven) do
    expected_minutes_in_oven - time_in

[2022-07-19 10:24] Rutaba commented on #310
I had the comments that are initially there on the start of the exercise. When I re-submitted after removing those, I did not got the re-using functions recommendation again

[2022-07-19 11:25] angelikatyborska commented on #310
The problem is this:
[code]

`expected_minutes_in_oven` is not recognized as a function call because it's missing `()`. We need to fix that in the analyzer. Thank you for reporting!

[2022-07-30 17:19] angelikatyborska commented on #310
@Rutaba I looked at the analyzer code closely and I noticed that we actually chose not to handle this case explicitly. You should have also received a compilation warning that would tell you to add the missing `()`:
<img width="458" alt="Screenshot 2022-07-30 at 19 17 29" src="https://user-images.githubusercontent.com/7852553/181934556-862e6125-3b47-4592-a62c-796301da6846.png">

[code]

If you did

[2022-07-30 17:19] #310 closed

[2022-07-30 20:47] #302 closed

[2022-08-08 15:35] jayber opened #312 "Analysis of Wine Cellar"
Hello

I love your work. I am only just learning Elixir but wonder if the feedback given as Essential in this exercise might be incorrect in these circumstances.
`Keyword lists can contain more than one value for a key, which makes retrieving all values of a key cumbersome. Keyword module, besides Keyword.get to get a single value, also provides Keyword_get_values to get multiple values. Use Keywo

[2022-08-08 15:43] jayber commented on #312
Ok, I've looked at other solutions and see why the Keywords module solutions are better (more compact).
I guess I was led astray by the examples of the supplied filters. I can see you didn't want to provide the answer in them, so you did it manually. Hmm maybe you can just remove those implementations, so they have to be provided by the candidate, using the hoped for Keyword module. They are just

[2022-08-08 16:17] angelikatyborska commented on #312
Hi! Thank you for the issue!

No, not at all. The functions provided in the boilerplate, `filter_by_year` and `filter_by_country`, don't use the concept of the exercise - keyword lists. Their first argument, called `wines`, is just a regular list. It contains 3-element tuples with strings and integers, for example `[ {"Chardonnay", 2015, "Italy"}]`. For a list to be a keyword list, it needs to con

[2022-08-08 16:46] jayber commented on #312
I mean:
I got it wrong. If you want to cater for slow coaches like me maybe changing the message would help. :-) But maybe it's not necessary

[2022-08-12 19:47] krisrjohnson21 opened #314 "Exercism - High School Sweethearts Feedback"
Hello! Thanks for all you do within the coding community.

I recently completed the High School Sweethearts exercise for Elixir within Exercism. I got the following feedback from the Elixir Analyzer:

However, my code does reuse these functions. It just doesn't seem to be picked up since they're interpolated into a string. This may be something worth improving, if possible! My code below:

[code]

[2022-08-13 07:44] angelikatyborska commented on #314
Hi! Your `pair` function doesn't call `initials` (it calls `initial`), that's why you're getting this comment.

[2022-08-13 13:03] jayber opened #315 "Readme instructions for rpn-calculator-inspection"
I'm just doing the exercise on Task and this sentence is in the readme:

I'm not certain, but isn't this sentence missing a "not"?

Ie the reason this should be awaited is that it won't send a message, and therefore this is the only way to get its result?

I hope I haven't misunderstood again.

[2022-08-13 13:20] jayber commented on #315
I'll submit a PR if I haven't

[2022-08-13 13:38] jayber commented on #315
Dammit, I think I've got this wrong... again. So sorry. Closing

[2022-08-13 13:38] #315 closed

[2022-08-13 14:25] louis-cl opened #316 "Take-A-Number-Deluxe @impl required"
Seems that the analysis requires the `@impl` annotation for all methods.
Where I see [recommendation](https://www.reddit.com/r/elixir/comments/aildm1/impl_for_all_or_just_the_first_implementation/) to only mark the first method of each kind

My solution
[code]

[2022-08-13 14:49] angelikatyborska commented on #316
Thank you! I opened a PR with a fix, now it needs to wait for a review from another maintainer 🙂

[2022-08-13 15:05] angelikatyborska commented on #315
No worries! The sentence is correct, as you already realized. Let me expand on it: any process started with `Task.async/1` will send a message back to the process that called it. That's how tasks work. If you call `Task.await/2` on that task, it will wait for that message - when it arrives, it will know that the task has finished. However, if you don't call `Task.await/2`, then that message will b

[2022-08-14 07:20] #316 closed

[2022-08-15 17:20] krisrjohnson21 commented on #314
Ah that makes sense, thank you @angelikatyborska! Happy to close this.

[2022-08-15 17:20] #314 closed

[2022-08-18 12:12] petros opened #318 "Common check for @doc and @spec order doesn't handle private functions or private macros correctly"
I was working on the Name Badge exercise, where I decided to have a `@spec` for two private functions. In my editor, locally, I initially had a `@doc` and a `@spec` for those functions. ElixirLS informed me that the `@doc` strings will be stripped out because those are private functions. I decided to remove the `@doc` strings and only keep the `@spec`s.

<details>
<summary>The code (SPOILER)</summ

[2022-08-18 14:56] angelikatyborska commented on #318
Thank you for the bug report! There's definitely something wrong. The check for the order of `@doc` and `@spec` seems not to handle private functions very well.

This code produces a comment about a wrong order when it shouldn't:
[code]

[2022-08-18 21:13] nbirnel opened #319 "private function misidentified as public macro"
Repro:

This code:
[code]

Generates this analysis:
[code]

This is in https://exercism.org/tracks/elixir/exercises/bob

[2022-08-19 05:28] angelikatyborska commented on #319
Hi! Can you please post your full solution to Bob that produced this comment? The comment you posted is not triggered by just the snippet you posted, there has to be something else in the solution.

[2022-08-19 20:23] nbirnel commented on #319
My apologies; I had an unused `defmacro is_upcase?/1` after all.  Not a bug; closing this.

[2022-08-19 20:23] #319 closed

[2022-08-24 00:50] BNAndras opened #321 "Analysis of Captain's Log"
In random_stardate/0, I used :rand.uniform_real/0 instead of :rand.uniform/0, but it flagged the solution as using Enum.random. I get what the analyzer is saying, but the message is confusing at first glance.

Essential
Use :rand.uniform instead of Enum.random in the random_stardate function. :rand.uniform allows you to generate a random float directly.

[2022-08-24 14:28] angelikatyborska commented on #321
Hmm. Indeed confusing. Using `:rand.uniform_real/0` should also be an analyzer error because it never returns either 0 nor 1, and the instructions of the exercise say the lower boundary for the startdate is inclusive. We should probably add a new analyzer comment that says this.

I'm not sure what to do about the existing comment. It would be good if it could be suppressed if the new check for `un

[2022-08-25 03:09] j0sht opened #322 "Analysis of Newsletter"
Hello! First thanks to all the contributors of the Elixir track at Exercism! Elixir if quickly becoming my favourite programming language :)

I just finished coding my solution to the Newsletter challenge, and here's what I submitted:
[code]

The analyzer gave me the following feedback:

However, I do actually implicitly return what `close_log/1` returns with the help of the private function `do_s

[2022-08-25 17:17] Vagab opened #323 "Analysis of New Passport"
Hey guys. So, given this additional code:
[code]
Analyzer hits me up with:

I understand it wants me to use `else`, but in this case I think it's actually more readable and idiomatic([docs](https://hexdocs.pm/elixir/Kernel.SpecialForms.html#with/1-beware))

[2022-08-26 07:47] angelikatyborska commented on #323
Hi! Thanks for reporting. So technically this comment appears because we have a check that `case` shouldn't be used, there's no check that `with` must come with an `else`. If you wrote `validate_no_coffee_break` with a `cond` or `if` instead, the comment wouldn't appear 🙈 Confusing...

Our intention was indeed to make everyone use an `else` clause for the purpose of learning that it exists. The "b

[2022-08-26 07:56] angelikatyborska commented on #322
Hi! Thanks for reporting.

The reason for this confusing feedback is that the analyzer expected you to call `close_log` as the last thing in `send_newsletter`. We did not foresee that people could choose a recursive approach to this exercise. Here's what we expected:
[code]

@jiegillet Do you have any ideas how we could improve the current check? Do you remember why we wrote "must end with close_l

[2022-08-26 09:41] Vagab commented on #323
Makes sense

I see your point. Ok

Agreed. I would suggest though not checking that `else` is used though, since it's perfectly fine to use just `with` in this case like I did, and it still enforces the student to think about `else` anyway which fullfills the purpose of this exercise.

[2022-09-01 10:14] angelikatyborska commented on #304
Resolved in https://github.com/exercism/elixir/pull/1155

[2022-09-01 10:14] #304 closed

[2022-09-02 13:27] jiegillet commented on #322
I guess we should change the check to match the message of "cannot end with :ok". We made that very change for other checks, but I we didn't do this one probably because no one complained before.

[2022-09-02 13:38] jiegillet commented on #321
Yes, we can only have one `suppress_if`, although I believe it wouldn't be very hard to allow multiple.

Another simpler way is to change the message to not mention `Enum.random` (or mention it only as a possible lesser method along `:rand.uniform_real`). Every time we assume something about the solution that we don't actually check, it comes to bite us in the butt :)

[2022-09-02 17:55] angelikatyborska opened #327 "Allow multiple `suppress_if` in all macros"
Currently you can only give a single check in `suppress_if`:
[code]

If would be great if it was possible to pass a list of checks too. If any of the checks on the list fulfills the requirement (pass/fail), the check that called `suppress_if` gets suppressed. This should work in all macros: `assert_call`, `assert_no_call`, `assert_source`, `feature`.

Example use case: for an assert call `:rand.un

[2022-09-03 02:03] #322 closed

[2022-09-03 16:47] #327 closed

[2022-09-04 05:29] #321 closed

[2022-09-08 20:24] Teilzeitdenker commented on #318
Well, I think one only has to change the last function in
[/elixir-analyzer/tree/main/lib/elixir_analyzer/exercise_test/common_checks/function_annotation_order.ex](https://github.com/exercism/elixir-analyzer/blob/main/lib/elixir_analyzer/exercise_test/common_checks/function_annotation_order.ex)
to
[code]
to also include all the cases where there are private functions or macros.

I'd be able to mod

[2022-09-08 22:06] vecerek opened #330 "Basketball website: `get_in` call when using a pipe is not detected"
I'm receiving the following feedback:

For the following code:
[code]

I'm only using `get_in` inside `get_in_path/2`.

[2022-09-09 03:02] petros commented on #318
You can create a pull request from your fork, that targets the main branch of the parent repository.

[2022-09-09 07:43] angelikatyborska commented on #318
@Teilzeitdenker

I think you would need to start here instead: https://github.com/exercism/elixir-analyzer/blob/5765dc1213c430c81cda8b1c008d659d05a170c4/lib/elixir_analyzer/exercise_test/common_checks/function_annotation_order.ex#L12 I think the main problem with the current code is that `defp`, `defmacrop`, `defguard` and `defguardp` don't trigger a cut off in the chain of found annotations. Afte

[2022-09-09 07:53] angelikatyborska commented on #330
Thanks for the report! There is a bug in detecting that you did use `get_in` in `get_in_path`. For some reason, this code is correct:
[code]

But this code makes the analyzer think `get_in` wasn't used:

[code]

[2022-09-09 09:32] Teilzeitdenker commented on #318
Ok, I see.
Thanks for the advice.

I'll give it a try and issue a pull request from my account if I'm able to fix it.

[2022-09-10 07:34] #330 closed

[2022-09-13 12:44] Teilzeitdenker commented on #318
I issued a pull request, but I can't link it in here...

[2022-10-01 07:23] PQ4NOEH opened #334 "Elixir track snake_case misleading automatic recomendation"
When the elixir track on the exercise log level when submitted I have got what I think is a wrong automatic recommendation about snake_case. The details of the recommendations are:

![image](https://user-images.githubusercontent.com/2197888/193398060-1a98b089-2057-43b2-8f96-0b150e83ac52.png)

[2022-10-01 12:32] jiegillet commented on #334
Thank you for the feedback! I see what's going on.
Do we agree that `log_Label` is indeed not snake case because of the `L`?
However, what the analyzer is proposing is not snake case either, it should be `log_label`.

Would you be interested in helping fixing it? I can guide you and I would accept the contribution valid for [hacktoberfest](https://hacktoberfest.com/).

[2022-10-01 16:51] PQ4NOEH commented on #334
Yes, we agree log_Label  is not correct either.
I am happy on helping to fix it, please tell me what should I do.

[2022-10-01 22:54] georgevanuta opened #335 "Elixir track: @doc first, @spec next to function"
# The exercise is [sieve](https://exercism.org/tracks/elixir/exercises/sieve).
## Got this comment on my solution:
<img src="https://user-images.githubusercontent.com/74255152/193430744-1f908dd9-2b73-4d37-a4c5-d3b6f73bcfd8.png" width="450" >\
## But the `@doc` already is before the `@spec` in my code:
<img src="https://user-images.githubusercontent.com/74255152/193431060-7bd11132-5ddf-4422-bb9d-77

[2022-10-01 23:38] jiegillet commented on #335
Hi @georgevanuta, thanks for the feedback.
Yes, it a known bug (#318), basically the analyzer fires that comment every time a `@spec` or `@doc` are used with a private function.
We are working on it in (#332), I'll close this issue, but feel free to follow the others.

[2022-10-01 23:38] #335 closed

[2022-10-01 23:52] jiegillet commented on #334
Nice!

The culprit is here:
https://github.com/exercism/elixir-analyzer/blob/9b380f6d115b67318d0930bf40672243921c93b6/lib/elixir_analyzer/exercise_test/common_checks/variable_names.ex#L71-L80

We might be able to get away with a `|> String.replace("__", "_")` to fix this particular problem, but maybe you can find something more robust?
Like the comments say, we only care about identifiers that alr

[2022-10-02 07:34] PQ4NOEH commented on #334
Yes, it does make sense. I do this one

[2022-10-05 16:33] iteratee opened #338 "rpg-character sheet analysis should allow for helper function."
[code]

The analyzer complains with the following:

Both of which shouldn't trigger. I am returning the result of IO.inspect in tail position, and I'm using `label:` in the helper.

[2022-10-06 00:13] jiegillet commented on #338
Right, we didn't anticipate the use of helper functions. We also didn't anticipate the use of `with` since it's not been introduced yet. Do you get comments when you replace `print_charmap` by `IO.inspect`?

[2022-10-13 23:51] aedwardg opened #340 "Allow for alternative erlang solutions in `captains-log`"
Given that the main focus of this exercise is to use erlang libaries, it feels strange to receive analyzer errors for the following two solutions:

`random_ship_registry/0` (prompts to use `Enum.random/1`):
[code]

`format_stardate/1` (prompts to use `:io_lib.format("~.1f", [stardate]) |> to_string()`):
[code]

Would it make sense to have the analyzer allow one or both of these alternate solutions

[2022-11-01 14:04] konkasidiaris opened #341 "In Guessing game analyzer reports no use of default arguments when they are stated"
Hello awesome team! Elixir newbie here
At [guessing game](https://exercism.org/tracks/elixir/exercises/guessing-game) the analyzer reports `Essential Use a default argument in the compare function to handle a lack of guess.`

From the [documentation](https://elixir-lang.org/getting-started/modules-and-functions.html#default-arguments) I get that the default values statement is correct (tests pass

[2022-11-01 16:54] angelikatyborska commented on #341
Hi!

I'd say there's a little bit of an error on both sides 😉 The analyzer expects a specific value of the default argument - the atom `:no_guess`, as is suggested by the code example in the exercise instructions.

Maybe we should modify the test suite to ensure that non number guesses other than that specific atom raise an error?

[2022-11-02 13:18] konkasidiaris commented on #341
I am not sure how you want to run this!
1. Is there a pattern in elixir that suggests every default value should be an atom? I find this a bit peculiar to be honest.
2. Also the error message is a bit misleading as it suggest to use a default argument when there is already a default argument.
3. The `:no_guess` atom is suggested in the example but what is the point of trying to solve the exercise

[2022-11-02 14:31] konkasidiaris commented on #341
Hello @jiegillet, I did not tried to sound like this by any means! If this is the case I am really sorry
I was just expressing the questions that are in my mind right now, nothing more, no shots fired to anyone

Both actions sound good first issues, may I try to implement them?

[2022-11-03 11:52] jiegillet commented on #341
It's ok, that impression was based on turns of phrase like "I find this a bit peculiar to be honest" and "what is the point of trying to solve the exercise" that can be interpreted as being condescending. Anyway, I'm glad you didn't mean it like that and I'm glad you want to help.

For the analyzer one, this needs to be modified:

https://github.com/exercism/elixir-analyzer/blob/4ba9a6ac960a84499c

[2022-11-03 14:14] jiegillet commented on #340
Hi @aedwardg, Sorry for the slow reply and thank you for opening this issue.

The exercise is teaching two concepts, randomness and using erlang libraries, this explains why we are nudging the students towards `Enum.random`. However, upon closer look, we are delivering the message

which is not fully accurate, [according to the docs](https://www.erlang.org/doc/man/rand.html#uniform-1) `:rand.unifo

[2022-11-05 13:58] jiegillet commented on #334
@PQ4NOEH are you still interested in taking this one?

[2022-11-05 14:05] jiegillet commented on #312
Even if it's not perfect, the comment explicitly mentions what functions to use, so I think the message still works for this case. I will close the issue, but we will keep an eye on future similar issue for this exercise.

[2022-11-05 14:05] #312 closed

[2022-11-07 06:44] aedwardg commented on #340
@jiegillet, I think the following (current) messages is correct in how it's being used for the `random_stardate` function, since the [instructions](https://github.com/exercism/elixir/blob/main/exercises/concept/captains-log/.docs/instructions.md#3-generate-a-random-stardate) for that one ask for a float, which is what `:random.uniform/0` returns:

So for that one, I don't think any changes need to

[2022-11-07 07:34] jiegillet commented on #340
Great, let's do it!

The comments live [over here](https://github.com/exercism/website-copy/tree/main/analyzer-comments/elixir), so a PR over there would be great.

For detecting erlang in the analyzer, what would be required is [changing this file](https://github.com/exercism/elixir-analyzer/blob/main/lib/elixir_analyzer/test_suite/captains_log.ex), replacing `assert_call "format_stardate uses :i

[2022-11-13 22:43] MtlSnk opened #343 "Analyzer and using Kernel.function/x (rather than function/x)"
Hi there!

The hints for the first step of the RPN Calculator Inspection exercise suggest using `Kernel.spawn_link/1` instead of a task.
In my submission I used `Kernel.spawn_link/1` (explicitly with the module), rather than `spawn_link/1` or `Task.start_link/1` and the analyzer's test suite doesn't account for that.

I'm still learning Elixir; is it against best practice to call Kernel functions

[2022-11-13 23:59] jiegillet commented on #343
Hi @MtlSnk,

Would you mind posting your full solution and the comment you got, or alternatively send us a mentoring request link?
<img width="704" alt="Screen Shot 2022-11-14 at 8 55 47" src="https://user-images.githubusercontent.com/16929078/201551323-c26db170-b77d-4fc5-a1d0-7678b3340c17.png">

I prefer having the full picture before saying something stupid :p

[2022-11-14 07:37] MtlSnk commented on #343
Sure thing!
This is the code that causes the analyzer to disagree:
[code]

The analyzer:
![image](https://user-images.githubusercontent.com/11834721/201600818-4a2bbcbb-1338-4577-a2ee-2f29b55e34c1.png)

And when I remove `Kernel.` from line 3:
![image](https://user-images.githubusercontent.com/11834721/201601074-c123bd2b-ae3f-491a-850b-767ecc25f921.png)

[2022-11-14 09:38] jiegillet commented on #343
Thank you for the full code, I was able to find the bug and fix it in #344.

[2022-11-14 09:51] jiegillet commented on #341
I didn't hear from you, so I made a fix in #345

[2022-11-14 23:09] MtlSnk commented on #343
No worries. I do have a couple of questions:

1. Why was the code I sent included in the test suite?
I don't see any other test suites that do the same.
2. Does modifying the `assert_call` mean that using `spawn_link/1` now fails or do they both work?
I would've expected an additional `assert_call` with a `suppress_if`, but if it works. :relaxed:

I found some more of potentially the same issue, t

[2022-11-15 00:35] jiegillet commented on #343
Sorry, I should have asked you if it was OK.
We [sometimes do it](https://github.com/exercism/elixir-analyzer/blob/4ba9a6ac960a84499c53fd3d99b9db72ddc0d09a/test/elixir_analyzer/exercise_test/common_checks/function_annotation_order_test.exs#L335-L336), because it's ideal to have real code it tests. We don't always attribute the code though.

May we use your code in there? I can remove it, anonymize

[2022-11-15 07:13] MtlSnk commented on #343
Of course. I don't mind, I was just wondering.

That makes sense, thank you!

Hope it helps! I enjoy Exercism and its Elixir exercises very much, so if this is how I can contribute back, I'll take it. :smile:

It's probably a [PEBCAK](https://en.m.wiktionary.org/wiki/PEBCAK) issue. I tried to run the analyzer against a different directory (which contains my exercism exercises), which might be why

[2022-11-16 15:09] jiegillet commented on #343
I made some changes to the PR, now `assert_call` will find `Kernel` functions whether they are qualified or not, have a look if you like!
It was a bit tedious, I'm very thankful we have so many tests, many edge cases were caught that way.

That should work, I believe. Make sure you use asdf and that you run `bin/build.sh` before using it.

[2022-11-23 16:37] dmarcoux commented on #334
I'm having a look into this :slightly_smiling_face:

[2022-11-24 08:48] #334 closed

[2022-11-26 12:53] MtlSnk commented on #343
I don't fully understand the code, but it seems like a nice solution!
I'd review it if I had more authority.

Not being able to run `mix test` was my mistake, I got it working.
The `elixer_analyzer` escript only seems to work after you create a `.meta` directory containing a `config.json`. I'd have expected the readme to mention it, but I figured it out from the `test_data` directory.

I ran `elix

[2022-11-28 22:21] rhino232 opened #350 "HighScore feedback for module attribute is wrong"
Essential

Use a [module attribute](https://elixir-lang.org/getting-started/module-attributes.html#as-constants) in add_player/3 and reset_score/2 as a constant for the initial score.

does not correctly recognize the solution

defmodule HighScore do
  @initial_score 0

[2022-11-28 23:52] jiegillet commented on #350
Hi @rhino232,
Could you copy the full solution? I believe the cause of the issue is lower than that.
Alternatively, you could share a mentoring link.
<img width="731" alt="Screen Shot 2022-11-29 at 8 51 48" src="https://user-images.githubusercontent.com/16929078/204404947-34fcd5c9-faa2-4393-9991-4717c77de6db.png">

We had a similar problem in #341, with a fix waiting to be merged in #345. Maybe it

[2022-11-29 05:23] #341 closed

[2022-11-29 05:25] #318 closed

[2022-11-29 07:51] rhino232 commented on #350
Hi Jie

here is my mentoring link
https://exercism.org/mentoring/external_requests/eb9a48fcd2b042cf8e21463bb0065668

regards

Am Di., 29. Nov. 2022 um 00:53 Uhr schrieb Jie ***@***.***>:

[2022-11-29 13:57] #343 closed